# sbt specific
target/

# Scala-IDE specific
.cache
.project
.classpath
.settings/

# Files created for deployment
secret/
local.sbt
secret/
.metals/
.bloop/
metals.sbt
.bsp/
.vscode/launch.json
*.scala.semanticdb
